@charset "UTF-8";


body{
    background-color: #F6F4D2;
    font-family: Arial, Helvetica, sans-serif;

}

@font-face {
    font-family: Winky Milky;
    src: url('fontes/Winky\ Milky.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

h1#principal{
    text-align: center;
    font-family: Winky Milky;

}

h1{
    color: #A44A3F;

}

h2{
    color: #F19C79;

}

/*CSS CLASSES*/
.basico{

    color: #6699CC;
    font-weight: bold;
}

.intermediario{
    color: #B57F50;
    font-weight: bold;

}

.avancado{
    color: #3F4739;
    font-weight: bold;

}

.destaque{
    background-color: #ebc1bc;

}