@charset "UTF-8";

        body{
            background-color: rgb(240, 198, 184);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;

        }
        h1{
            color: brown;
        }

        h2{
            color: chocolate;
        }

        p{
            text-align: justify;

        }

 